* {
  margin: 0px;
}
form{
  display: -webkit-inline-box;
}
header, nav, footer  {
width: 100%;
background-color: rgb(35, 71, 114);
padding: 0px;
}
h1{
  padding: 25px;
}
.card{
    background-color: rgb(35, 71, 114);
}

.textFooter{
  text-align: center;
  color: white;
}
.textDestacado{
  color: white;
}
.col-md-auto, .justify-content-md-right {
  padding-left: 10px;
}
.search {
  padding-top: 25px;
}
.btn{
  padding-left: 0px;
}
.btn-outline-success {
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0px;

}
.navbar-brand {
  margin: 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.nav-item {
  display: inline-block;
  float: left;
  letter-spacing: 1,5px;;
}
.card-deck {
  padding: 30px;
  margin-bottom: 30px;
}
.navbar-toggler-icon {
  color: #ffffff;
}
.boton {
  background-color: white;
  color: black;
  border-radius: 15px;
}
